@model Web.Models.UserModel
@{
    ViewBag.Title = "Vyberte svoje oľúbené pivá";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Index", "Home")) {
    <table class="table  table-inverse">
        @for (var i = 0; i <= ViewBag.Count/5; i++) {
            <tr>
                @for (var j = 0; j < 5 && j + i*5 < ViewBag.Count; j++) {
                    <td style="padding: 10px;">

                            @{
                                var beer = ViewBag.Beers[i * 5 + j];
                                <img src="@beer.ImageUrl" alt="@beer.Name" />
                                <br />
                                <input type="checkbox" name="SelectedBeers" value="@beer.Id">
                                <b>@beer.Name</b>
                            }

                    </td>
                }

            </tr>
        }
    </table>

    <div style="text-align: center;">
        <h4>Kraj</h4><br/>
        @Html.DropDownListFor(model => model.RegionId,(SelectList)ViewBag.SelectList, "-- Vyberte kraj --")

        <input type="submit" value="Odoslať"/>
    </div>
}