@{
    ViewBag.Title = "Beer recommender";
}
<h2>Odporúčania</h2>


Vybraté pivá:
<table class="table  table-inverse">
    @for (var i = 0; i <= ViewBag.PickedCount/5; i++) {
        <tr>
            @for (var j = 0; j < 5 && j + i*5 < ViewBag.PickedCount; j++) {
                <td style="padding: 10px;">

                    @{
                        var beer = ViewBag.PickedBeers[i*5 + j];
                        <img src="@beer.ImageUrl" alt="@beer.Name"/>
                        <br/>
                        <b>@beer.Name</b>
                    }

                </td>
            }

        </tr>
    }
</table>

Odporúčané pivá (1. algoritmus):
<table class="table  table-inverse">
    <tr>
        @for (var j = 0; j < ViewBag.RCount; j++) {
            <td style="padding: 10px;">

                @{
                    var beer = ViewBag.RecommendedBeers[j];
                    <img src="@beer.ImageUrl"/>
                    <br/>
                    <b>@beer.Name</b>
                    <p>
                        @beer.Description
                    </p>
                }

            </td>
        }

    </tr>
</table>

Odporúčané pivá (2. algoritmus):
<table class="table  table-inverse">
    <tr>
        @for (var j = 0; j < 5; j++) {
            <td style="padding: 10px;">

                @{
                    var beer = ViewBag.RandomBeers[j];
                    <img src="@beer.ImageUrl"/>
                    <br/>
                    <b>@beer.Name</b>
                    <p>
                        @beer.Description
                    </p>
                }

            </td>
        }

    </tr>
</table>

Odporúčané pivá (Single algoritmus):
<table class="table  table-inverse">
    <tr>
        @for (var j = 0; j < ViewBag.RSCount; j++)
        {
            <td style="padding: 10px;">

                @{
                    var beer = ViewBag.RecommendedSingle[j];
                    <img src="@beer.ImageUrl" />
                    <br />
                    <b>@beer.Name</b>
                    <p>
                        @beer.Description
                    </p>
                }

            </td>
                    }

    </tr>
</table>